<!doctype html>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<form action="/upload" method="post" enctype="multipart/form-data">
  <input id="file" type="file" name="file">
  <input type="submit">
</form>

{% if predictml %}
  <p>Modele Linéaire : {{ predictml }}!</p>
{% endif %}
{% if predictpmc %}
  <p>PMC : {{ predictpmc }}!</p>
{% endif %}
{% if predictrbf %}
  <p>RBF : {{ predictrbf }}!</p>
{% endif %}

<input id="hex" placeholder="enter hex color">
<canvas id="draw" style="outline: solid 1px black"></canvas>

<script src="app.js"></script>

<script>
var canvas = document.getElementById("draw");

var ctx = canvas.getContext("2d");

var onCanvas = false;
var rect = canvas.getBoundingClientRect();
resize();

document.getElementById('draw').onclick = function(e) {
  // e = Mouse click event.
  //onCanvas = true;
}

// resize canvas when window is resized
function resize() {
  ctx.canvas.width = 800;
  ctx.canvas.height = 400;
}

// initialize position as 0,0
var pos = { x: 0, y: 0 };

// new position from mouse events
function setPosition(e) {
  pos.x = e.clientX - rect.left;;
  pos.y = e.clientY - rect.top;;
}

function draw(e) {
  if (e.buttons !== 1) return; // if mouse is not clicked, do not go further

  if (!onCanvas) return;

  var color = document.getElementById("hex").value;

  ctx.beginPath(); // begin the drawing path

  ctx.lineWidth = 20; // width of line
  ctx.lineCap = "round"; // rounded end cap
  ctx.strokeStyle = color; // hex color of line

  ctx.moveTo(pos.x, pos.y); // from position
  setPosition(e);
  ctx.lineTo(pos.x, pos.y); // to position

  ctx.stroke(); // draw it!
}


// add window event listener to trigger when window is resized
window.addEventListener("resize", resize);

// add event listeners to trigger on different mouse events
document.addEventListener("mousemove", draw);
document.addEventListener("mousedown", setPosition);
document.addEventListener("mouseenter", setPosition);
canvas.addEventListener("mouseenter", function () {
  onCanvas = true;
});
canvas.addEventListener("mouseleave", function () {
  onCanvas = false;
});
</script>